@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'YourFont';
  src: url('/Livvic-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lv {
  font-family: 'YourFont', sans-serif;
}
