@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'YourFont';
  src: url('/Livvic-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lv {
  font-family: 'YourFont', sans-serif;
}

.svg-sharp {
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  transform: translateZ(0);
}